<h1 align="center"><%= $game.player_1.name %> attacked <%= $game.player_2.name %></h1>

<form align="center" class="continue" action="/play" method="get">
  <input type="submit" value="Continue">
</form>
