<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
  </head>
  <body>
    <h1>Welcome to Battle</h1>

    <h2>Enter your Names</h2>

    <form class="player-names" action="/play" method="post">
      <input type="text" id="player-1" name="player-1" value="Player 1">
      <input type="text" id="player-2" name="player-2" value="Player 2">
      <input type="submit" value="Play">
    </form>
    
  </body>
</html>
