<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title align="center">Battle</title>
  </head>
  <body>
    <h1 align="center">Welcome to Battle</h1>

    <h2 align="center">Enter your names</h2>

    <form align="center" class="player-names" action="/names" method="post">
      <input type="text" id="player-1" name="player_1" value="Player 1">
      <input type="text" id="player-2" name="player_2" value="Player 2">
      <input type="submit" value="Play">
    </form>

  </body>
</html>
